main {
  position: relative;
  height: 100vh;
}
.battle-logs {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 400px;
  width: 400px;
  max-height: 400px;
  height: 400px;
  background: rgba(167, 161, 161, 0.656);
  overflow-y: scroll;
  overflow-x: hidden;
}
